.passionContainer{
  width: 100%;
  height: 250px;
  margin:100px 0 ;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: rgb(16, 15, 15);
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}
.passionContent{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-weight: bold;
}
@media (max-width: 767.98px) { 
  .passionContent{
    flex-direction: column;
    text-align: center;
    

  }
  .passionContent div{
    margin: 10px;
  }
 }